.categoriesBlock{
    display: flex; 
    width: 768px; 
    margin: 0px auto; 
    padding: 1rem; @media screen and (max-width: 768px){
    width: 100%; overflow: auto; }
}
.category a{ font-size: 1.125rem; 
    cursor: pointer; 
    text-decoration: none; 
    color: inherit; 
    padding-bottom: 0.25rem;
    margin-left: 1rem;
}
.category:hover {
    color: #b0b5bb;
}
.category .active {
    color: #22b8cf;
    border-bottom: 2px solid #22b8cf; 
    font-weight: 600;
}
.category .active:hover {
    color: #abdfe6;
}
   