.newsItemBlock{
    display: flex; margin-top: 3rem;
}
.thumbnail img{
    width: 160px; height: 100px;
}
.contents {
    margin-left: 1rem;
}
.contents h2 {
    margin-top: 0px;
}
.contents a {
    color: black;
}
